   /* html,
    body {
        margin: 0 !important;
        padding: 0 !important;
    }
*/
   body {
       background: #dddddd;
       overflow-y: hidden;
       /* Hide vertical scrollbar */
       overflow-x: hidden;
       /* Hide horizontal scrollbar */
   }

   /* #canvas {
       margin: 20px;
       padding: 20px;
       background: #ffffff;
       border: thin inset #aaaaaa;
       viewport-fit: cover;
   } */


   .canvas {
       position: fixed;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
   }